:root{
//  Light
  --l_point1: #F4F7F9;
  --l_point2: #B497BD;
  --l_point3: #4A90E2;
  --l_btnClr1: #FF6F61;
  --l_btnActClr1: #E65B50;
  --l_txtClr: #333333;
  --l_subClr: #E0E0E0;

//  DARK
    --d_point1: #121212;
    --d_point2: #1E1E1E;
    --d_point3: #B497BD;
    --d_btnClr1: #FF6F61;
    --d_btnActClr1: #E65B50;
    --d_txtClr1: #E0E0E0;
    --d_txtClr2: #B0B0B0;
    --d_subClr: #333333;
}