<header class="pf_hd">
    <a href="/index.html">
        <h1 class="logo">
            P. F.
        </h1>
    </a>
    <div class="dp_f al_center gap20">
        <p class="date">2025-08-22</p>
        <p class="clock">17:19:00</p>
    </div>
</header>