<!doctype html>
<html lang="ko" color-theme="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
            content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#F74D66FF">
    <meta name="apple-mobile-web-app-capable" content="#16345F">
    <meta name="apple-mobile-web-app-status-bar-style" content="#16345F">
    <meta name="title" content="">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <!-- BEGIN FACEBOOK Meta -->
    <meta property="og:title" content="">
    <meta property="og:type" content="website">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta property="og:description" content="">
    <!-- END FACEBOOK Meta -->

    <!-- BEGIN TWITTER Meta -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="">
    <!-- END TWITTER Meta -->
    <link rel="shortcut icon" href="/assets/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/assets/images/favicon.ico">
    <link rel="apple-touch-icon" href="/assets/images/favicon.ico">

    <title>{{ pageTitle | default("FP 프로젝트") }}</title>

    <link rel="stylesheet" href="/assets/css/wv.css">
    <link rel="stylesheet" href="/assets/css/new_guide.css">

    <script type="module" src="/assets/js/core/wv_compo.js"></script>
    <script type="module" src="/assets/js/custom/pf.js"></script>
</head>
