<div id="slot">
    <ul class="slot_list">
        <li>
            <div class="toggle_btn">
                {# Theme Change #}
                <input type="checkbox" id="themeChangeIpt">
                <label for="themeChangeIpt"><i></i></label>
            </div>
        </li>
    </ul>
</div>