<div id="slot">
    <ul class="slot_list">
        <li>
            {# Theme Change #}
            <input type="checkbox" id="themeChangeIpt">
            <label for="themeChangeIpt"><i></i></label>
        </li>
    </ul>
</div>