---
pageTitle: "PF Demo"
pageDir: ["Demo"]
permalink: /demo/index.html
---
{% include "head.njk" %}
<body>

<div class="dp_f">
    {% include "header.njk" %}

    <main>
        <div class="pf_inner">
            <h2 class="fs_48 adm_fc_white1 fade anim">DEMO Main</h2>

            <button type="button" class="wv_modal_btn" data-modal="youtubeModal" data-youtube="https://www.youtube.com/watch?v=CcntnGuUm4g">열기라오</button>

            <dialog class="wv_modal" id="youtubeModal">
                <iframe src="" frameborder="0"></iframe>
            </dialog>
        </div>

        {% include "slot.njk" %}
    </main>
</div>

</body>
