---
pageTitle: "PF - Demo"
pageDir: ["demo"]
permalink: /demo/index.html
---
{% include "head.njk" %}
</head>
<body class="bg-glass-dark">

<div class="pf_main ">
    {% include "side.njk" %}
    {% include "header.njk" %}
    <main>
        <section class="">
            <div class="pf_inner scrollbar_custom">
                <div class="sec_tit">
                    <h2 class="fs_36">Demo</h2>
                    <p class="fs_14 mt_10 txtClr1">퍼블리싱 작업 시 자주 사용하는 스크립트 기능들입니다.</p>
                </div>
                <div class="pf_links no_ico">
                    <h3 class="colST1 colED-1 fs_24 txtClr1">Components</h3>
                    <a href="/demo/accordion.html">
                        <strong>Accordion</strong>
                        <p class="txtClr1">
                        </p>
                    </a>
                    <a href="/demo/copy.html">
                        <strong>Copy</strong>
                        <p class="txtClr1">
                        </p>
                    </a>
                    <a href="/demo/hideToday.html">
                        <strong>Hide today</strong>
                        <p class="txtClr1">
                        </p>
                    </a>
                    <a href="/demo/linkButton.html">
                        <strong>Link Button</strong>
                        <p class="txtClr1">
                        </p>
                    </a>
                    <a href="/demo/modal.html">
                        <strong>Modal</strong>
                        <p class="txtClr1">
                        </p>
                    </a>
                    <a href="/demo/scrollButton.html">
                        <strong>Scroll Button</strong>
                        <p class="txtClr1">
                        </p>
                    </a>
                    <a href="/demo/tab.html">
                        <strong>Tab</strong>
                        <p class="txtClr1">
                        </p>
                    </a>
                    <a href="/demo/targetBtn.html">
                        <strong>Target Button</strong>
                        <p class="txtClr1">
                        </p>
                    </a>
                </div>
            </div>
        </section>
    </main>
</div>
</body>
