@use './absctracts/mixin' as *;
@use './absctracts/pf_variables' as *;

@import "./guideComponents/_table";
@import "./guideComponents/_slot";

*{
  transition: all .3s;
}

html[color-theme='light'] {
  --clr-point1: var(--l_point1);
  --clr-point2: var(--l_point2);
  --clr-point3: var(--l_point3);
  --clr-point4: var(--l_point4);
  --clr-point5: var(--l_point5);

  --clr-slotBar: #1a1a1a;

}

html[color-theme='dark'] {
  --clr-point1: var(--d_point1);
  --clr-point2: var(--d_point2);
  --clr-point3: var(--d_point3);
  --clr-point4: var(--d_point4);
  --clr-point5: var(--d_point5);
  --clr-white1: var(--pf_white1);
  --clr-slotBar: #f3f3f3;
}

.fc_point1 {color: var(--clr-point1);}
.fc_point2 {color: var(--clr-point2);}
.fc_point3 {color: var(--clr-point3);}
.fc_point4 {color: var(--clr-point4);}
.fc_point5{color: var(--clr-point5);}
.fc_white1 {color: var(--clr-white1);}

body {
  background-color: var(--clr-point1);
}

pre {
  background: #f4f4f4; padding: 10px; border: 1px solid #ddd; overflow-x: auto;
}
strong{
  font-weight: 500;
}

main{
  position: relative;
  .tit{
    h1,h2,h3,h4,h5,h6 {
      color: var(--clr-white1);
    }
    p{
      color: var(--clr-point4);
      line-height: 150%;
    }
    strong{
      color: var(--clr-point4);
    }
  }
}

.pf_inner {
  width: calc(100% - 40px);
  max-width: 784px;
  height: 100%;
  margin: 0 auto;
  padding-top: 60px;
}

.pf_hd {
  position: sticky;
  top: 0;
  left: 0;
  width: 340px;
  height: 100vh;
  padding: 60px 30px;
  backdrop-filter: blur(5px);
  background-color: var(--clr-point1);
  border-right: 1px solid var(--clr-point3);

  .logo {
    width: 280px;
    height: 30px;
    svg{
      width: 100%;
    }
  }

  nav {
    margin: 50px auto 0;
    padding: 0 20px;

    ul {
      display: flex;
      align-items: center;
      flex-direction: column;
      border-bottom: 1px solid var(--clr-point3);

      ul {
        display: flex;
        flex-direction: column;
        border-bottom: none;
        gap: 18px;
        max-height: 0;
        padding: 0 0 0 20px;
        font-size: rem(14px);
        overflow: hidden;
        transition: max-height .75s ease-in-out;

        &.on {
          max-height: 500px;
          //padding: 20px 0 20px 20px;
        }

        li {
          width: 100%;

          &:first-child {
            padding-top: 20px
          }

          &:last-child {
            padding-bottom: 20px
          }
        }

        a {
          display: flex;
          justify-content: flex-start !important;
          align-items: center;
          position: relative;
          width: 100%;
          color: var(--clr-point4);
          font-weight: 400;
          text-align: left;

          &::before {
            display: block;
            content: "";
            width: 0;
            height: 1px;
            margin-right: 6px;
            background-color: var(--clr-point4);
            transition: width .3s ease-in-out, background-color .3s ease-in-out;
          }

          &.on,
          &:hover{
            &::before {
              width: 10px;
            }
          }
        }
      }
    }

    > ul > li {
      width: 100%;
      border-top: 1px solid var(--clr-point3);

      > a, > button {
        position: relative;
        padding: 12px 0;
        font-size: rem(14px);
        color: var(--clr-white1);

        &::after {
          content: "";
          width: 20px;
          height: 20px;
          background: url("../images/icons/ico_arrow.svg") no-repeat center / cover;
          transition: transform .3s ease-in-out;
        }

        &.on {
        }

        &.on::before {
          width: 8px;
        }

        &.on::after {
          transform: rotate(90deg);
        }
      }

      a, button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
      }
    }
  }
}

footer {
  position: relative;
  z-index: 10;
  height: 120px;
  border-top: 1px solid #ebebeb;

  .inner_large {
    display: flex;
    align-items: center;
    height: 100%;
  }
}


#slotBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 50%;
  bottom: -40px;
  transform: translateX(-50%);
  z-index: 2000000010;
  height: 60px;
  transition: bottom 0.35s cubic-bezier(0.485, -0.050, 0.285, 1.505);

  &:hover {
    bottom: 0;
  }

  .slotBar_slot {
    height: 40px;
    overflow: hidden;
    pointer-events: auto;
    background: var(--clr-slotBar);
    border: 1px solid #343841;
    border-radius: 10000px;
    box-shadow: 0 0 0 0 rgba(19, 21, 26, 0.30), 0 1px 2px 0 rgba(19, 21, 26, 0.29), 0 4px 4px 0 rgba(19, 21, 26, 0.26), 0 10px 6px 0 rgba(19, 21, 26, 0.15), 0 17px 7px 0 rgba(19, 21, 26, 0.04), 0 26px 7px 0 rgba(19, 21, 26, 0.01);
  }

  .toggle_btn {
    width: 40px;
    height: 100%;

    input {
      display: none;
    }

    label {
      display: block;
      width: 100%;
      height: 100%;
      cursor: pointer;

      &:after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background: url(../images/icons/ico_light.svg) no-repeat center center / 20px;
      }
    }
  }
}

html[color-theme='dark'] #slotBar .toggle_btn label:after {
  background: url(../images/icons/ico_dark.svg) no-repeat center center / 20px;
}


main {
  display: flex;
  width: 100%;
  min-height: 100vh;
}


.wv_tab{
  width: 100%;

}
