---
pageTitle: "FP 프로젝트 - Display 가이드"
pageDir: ["WVComponents", "Pagination"]
permalink: /pagination.html
---
{% include "head.njk" %}
<body>

<div class="dp_f">
    {% include "header.njk" %}

    <main>
        <div class="pf_inner">
            <!-- 문서 헤더 -->
            <div class="tit">
                <h1 class="fs_48">WV Components - Pagination</h1>
            </div>


            <div class="pf_ex mt_40">
                <div class="pf_cont" style="background-color: #fff;">
                    <div class="pt_100 pb_100">
                        <div class="wv_pagination">
                            <a class="prev disabled" title="이전"></a>
                            <a href="javascript:void(0);" class="page_num on" title="현재 페이지"><span>1</span></a>
                            <a href="#" class="page_num"><span>2</span></a>
                            <a href="#" class="page_num"><span>3</span></a>
                            <a href="#" class="page_num"><span>4</span></a>
                            <a href="#" class="page_num"><span>5</span></a>
                            <a class="next " title="다음"></a>
                        </div>
                    </div>
                </div>

                <div class="pf_code">
                    <p class="code_tit">HTML</p>
                    <div class="highlight">
<pre class="chroma">
<code class="language-html" data-lang="html">
<span class="line"><span class="p">&lt;</span><span class="el">div</span> <span class="at">class</span><span class="o">=</span><span class="va">"wv_pagination"</span><span class="p">&gt;</span></span>
<span class="line">  <span class="p">&lt;</span><span class="el">a</span> <span class="at">class</span><span class="o">=</span><span class="va">"prev disabled"</span> <span class="at">title</span><span class="o">=</span><span class="va">"이전"</span><span class="p">&gt;</span><span class="p">&lt;/</span><span class="el">a</span><span class="p">&gt;</span></span>
<span class="line">  <span class="p">&lt;</span><span class="el">a</span> <span class="at">href</span><span class="o">=</span><span class="va">"javascript:void(0);"</span> <span class="at">class</span><span class="o">=</span><span class="va">"page_num on"</span> <span class="at">title</span><span class="o">=</span><span class="va">"현재 페이지"</span><span class="p">&gt;</span><span class="p">&lt;</span><span class="el">span</span><span class="p">&gt;</span><span class="t">1</span><span class="p">&lt;/</span><span class="el">span</span><span class="p">&gt;</span><span class="p">&lt;/</span><span class="el">a</span><span class="p">&gt;</span></span>
<span class="line">  <span class="p">&lt;</span><span class="el">a</span> <span class="at">href</span><span class="o">=</span><span class="va">"#"</span> <span class="at">class</span><span class="o">=</span><span class="va">"page_num"</span><span class="p">&gt;</span><span class="p">&lt;</span><span class="el">span</span><span class="p">&gt;</span><span class="t">2</span><span class="p">&lt;/</span><span class="el">span</span><span class="p">&gt;</span><span class="p">&lt;/</span><span class="el">a</span><span class="p">&gt;</span></span>
<span class="line">  <span class="p">&lt;</span><span class="el">a</span> <span class="at">href</span><span class="o">=</span><span class="va">"#"</span> <span class="at">class</span><span class="o">=</span><span class="va">"page_num"</span><span class="p">&gt;</span><span class="p">&lt;</span><span class="el">span</span><span class="p">&gt;</span><span class="t">3</span><span class="p">&lt;/</span><span class="el">span</span><span class="p">&gt;</span><span class="p">&lt;/</span><span class="el">a</span><span class="p">&gt;</span></span>
<span class="line">  <span class="p">&lt;</span><span class="el">a</span> <span class="at">href</span><span class="o">=</span><span class="va">"#"</span> <span class="at">class</span><span class="o">=</span><span class="va">"page_num"</span><span class="p">&gt;</span><span class="p">&lt;</span><span class="el">span</span><span class="p">&gt;</span><span class="t">4</span><span class="p">&lt;/</span><span class="el">span</span><span class="p">&gt;</span><span class="p">&lt;/</span><span class="el">a</span><span class="p">&gt;</span></span>
<span class="line">  <span class="p">&lt;</span><span class="el">a</span> <span class="at">href</span><span class="o">=</span><span class="va">"#"</span> <span class="at">class</span><span class="o">=</span><span class="va">"page_num"</span><span class="p">&gt;</span><span class="p">&lt;</span><span class="el">span</span><span class="p">&gt;</span><span class="t">5</span><span class="p">&lt;/</span><span class="el">span</span><span class="p">&gt;</span><span class="p">&lt;/</span><span class="el">a</span><span class="p">&gt;</span></span>
<span class="line">  <span class="p">&lt;</span><span class="el">a</span> <span class="at">class</span><span class="o">=</span><span class="va">"next"</span> <span class="at">title</span><span class="o">=</span><span class="va">"다음"</span><span class="p">&gt;</span><span class="p">&lt;/</span><span class="el">a</span><span class="p">&gt;</span></span>
<span class="line"><span class="p">&lt;/</span><span class="el">div</span><span class="p">&gt;</span></span>
</code></pre>
                    </div>

                </div>
            </div>
        </div>
    </main>

    {% include "slot.njk" %}
</div>

</body>
