---
pageTitle: "PF Tools"
pageDir: ["Tools"]
permalink: /tool/index.html
---
{% include "head.njk" %}
<body>

<div class="dp_f">
    {% include "header.njk" %}

    <main>
        <div class="pf_inner">
            <h2 class="fs_48 adm_fc_white1 fade anim">Tools Main</h2>
        </div>

        {% include "slot.njk" %}
    </main>
</div>

</body>
