---
pageTitle: "PF - px to vw"
pageDir: ["tools"]
permalink: /tools/px-to-vw.html
---
{% include "head.njk" %}
</head>
<body class="bg-glass-dark">

<div class="pf_main ">
    {% include "side.njk" %}
    {% include "header.njk" %}
    <main>
        <nav class="pf_sub_menu">
            <a href="./index.html">Tools</a>
            <ul>
                <li><a href="./img-to-webp.html">IMG to WEBP</a></li>
                <li><a href="./px-to-vw.html" class="on">PX to VW</a></li>
                <li><a href="./px-to-rem.html">PX to REM</a></li>
            </ul>
        </nav>
        <section class="">
            <div class="pf_inner scrollbar_custom ipt_st1"  data-pf-tool="pxvw">
                <div class="sec_tit">
                    <h2 class="fs_36">PX to VW</h2>
                </div>

                <div class="pf_cont">
                    <!-- 숫자 변환 -->
                    <div class="dp_f gap20 wrap">
                        <div class="pf_card fx_1" data-box="px2vw">
                            <h4 class="fs_20 fc_white1">PX → VW</h4>
                            <div class="mt_20 dp_f jtf_center al_center gap6">
                                <label class="fs_14 txtClr2">Viewport Width : </label>
                                <span class="dp_f al_center gap4">
                                <input class="pf_input" data-input="base1" value="1920">
                                <span class="fs_14 txtClr2">PX</span>
                            </span>
                                <label class="fs_14 txtClr2">/ 소수점 : </label>
                                <input class="pf_input sm_ipt" data-input="dec1" value="2">
                            </div>
                            <div class="mt_20 dp_f jtf_center al_center gap10">
                                <input class="pf_input" data-input="px" value="300">
                                <label class="fs_14 txtClr2">PX</label>
                                <input class="pf_input" data-output="vw" placeholder="" readonly>
                                <label class="fs_14 txtClr2">VW</label>
                            </div>
                            <button class="pf_btn mt_20" type="button" data-btn="px2vw">변환</button>
                        </div>

                        <div class="pf_card fx_1" data-box="vw2px">
                            <h4 class="fs_20 fc_white1">VW → PX</h4>
                            <div class="mt_20 dp_f jtf_center al_center gap6">
                                <label class="fs_14 txtClr2">Viewport Width :</label>
                                <input class="pf_input" data-input="base2" value="1920">
                            </div>
                            <div class="mt_20 dp_f jtf_center al_center gap10">
                                <input class="pf_input" data-input="vw" value="10">
                                <label class="fs_14 txtClr2">VW</label>
                                <input class="pf_input" data-output="px" placeholder="" readonly>
                                <label class="fs_14 txtClr2">PX</label>
                            </div>
                            <button class="pf_btn mt_20" type="button" data-btn="vw2px">변환</button>
                        </div>
                    </div>

                    <!-- CSS 변환 -->
                    <div class="dp_f gap20 mt_20 wrap">
                        <div class="pf_card fx_1" data-box="css-px2vw">
                            <h4 class="fs_20 fc_white1">CSS (px → vw)</h4>
                            <div class="dp_f gap10 jtf_center al_center mt_20">
                                <label class="fs_14 txtClr2">Viewport Width :</label>
                                <input class="pf_input" data-input="base3" value="1920">
                                <label class="fs_14 txtClr2">소수점</label>
                                <input class="pf_input sm_ipt" data-input="dec-css" value="2">
                                <label class="fs_14 txtClr2 dp_f al_center gap6 chk_ipt">
                                    <input type="checkbox" data-chk="strip1"> 속성 삭제
                                </label>
                            </div>
                            <div class=" mt_20 dp_f gap10">
                                <textarea class="pf_textarea" rows="6" data-ta="src1" placeholder="예) .box{ width:300px; }"></textarea>
                                <textarea class="pf_textarea" rows="6" data-ta="out1" readonly></textarea>
                            </div>
                            <div class="dp_f jtf_center al_center gap10 mt_20">
                                <button class="pf_btn ml_0 mr_0" type="button" data-btn="css-px2vw">변환</button>
                            </div>
                        </div>

                        <div class="pf_card fx_1" data-box="css-vw2px">
                            <h4 class="fs_20 fc_white1">CSS (vw → px)</h4>
                            <div class="dp_f gap10 jtf_center al_center mt_20">
                                <label class="fs_14 txtClr2">Viewport Width :</label>
                                <input class="pf_input" data-input="base4" value="1920">
                                <label class="fs_14 txtClr2 dp_f al_center gap6 chk_ipt">
                                    <input type="checkbox" data-chk="strip2"> 속성 삭제
                                </label>
                            </div>
                            <div class=" mt_20 dp_f gap10">
                                <textarea class="pf_textarea" rows="6" data-ta="src2" placeholder="예) .box{ width:15.63vw; }"></textarea>
                                <textarea class="pf_textarea" rows="6" data-ta="out2" readonly></textarea>
                            </div>
                            <div class="dp_f jtf_center al_center gap10 mt_20">
                                <button class="pf_btn" type="button" data-btn="css-vw2px">변환</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
</div>
</body>
