:root {
  //  Base
  --pf_white1: #F2F2F2;

  //  Light
  --l_point1: #F0F4FF;   /* 아주 연한 파랑 – 기본 배경 등 */
  --l_point2: #E8ECFF;   /* 연한 파랑 */
  --l_point3: #D4DBFF;   /* 중간 파스텔 블루 */
  --l_point4: #a6b1d0;   /* 텍스트 영역에 적합한, 다소 어두운 파스텔 블루 */
  --l_point5: #f6f9ff;   /* 부드러운 블루 그레이 */

  //  DARK
  --d_point1: #080F25;
  --d_point2: #0F1834;
  --d_point3: #384261;
  --d_point4: #A9B9E1;
  --d_point5: #1A2134;

  //  Font Size
  --fs1: 48px;
  --fs2: 30px;
  --fs3: 36px;
  --fs4: 32px;
  --fs5: 24px;
  --fs6: 20px;
}