---
pageTitle: "FP 프로젝트 - Download"
pageDir: ["Download"]
permalink: /download.html
---
{% include "head.njk" %}
<body>

<div class="dp_f">
    {% include "header.njk" %}

    <main>
        <div class="pf_inner">
            <div class="tit">
                <h2 class="fs_48 fc_white1">Download</h2>
                <p class="fs_18 mt_20">공통 CSS, JS 파일을 다운로드 받을 수 있습니다.</p>
            </div>

            <ul class="download_list">
                <li>
                    <h3>#1</h3>
                    <div class="txt">
                        <h4>Version - 1.0</h4>
                        <p>
                            - core/*.js 파일들 jQuery 제거 후 바닐라 JS로 변경
                            - font.js 제거
                            - wv.css 코드 수정 이제 wv.css 에 색상을 지정해서 사용하지 않고 [project].css 에 색상을 지정해서 사용 (변수명은 동일)
                            - adm.css 다크 모드 색상 추가
                        </p>
                        <a href="./assets/files/PF_v1.0.zip">
                        </a>
                    </div>
                </li>
            </ul>
        </div>

        {% include "slot.njk" %}
    </main>
</div>

</body>
