---
pageTitle: "FP 프로젝트 - Main"
pageDir: ["Main"]
permalink: /index.html
---
{% include "head.njk" %}
<body>

<div class="dp_f">
    {% include "header.njk" %}

    <main>
        <div class="pf_inner">
            <h2 class="fs_48 adm_fc_white1">Main</h2>
        </div>

        {% include "slot.njk" %}
    </main>
</div>

</body>
