:root{
  --inner_large_w: calc(100% - 40px);
  --inner_large_mw: 1720px;
  --inner_base_w : calc(100% - 40px);
  --inner_base_mw : 1440px;
  --inner_full_w : calc(100% - 40px);
  --inner_full_mw : 100%;
  --inner_sm_w : calc(100% - 40px);
  --inner_sm_mw : 62.5rem;
}

$base-font-size: 16;
$zIndex: 20;
$intervalSizes : [300, 280, 260, 240, 200, 180, 160, 150, 140,130, 120, 100, 90, 80, 70, 60, 50, 40, 36, 30, 24, 20, 16, 12, 10, 8, 6, 4, 0];
$fontSizes: [200, 180, 160, 140, 130, 120, 100, 80, 72, 68, 64, 60, 56, 52, 50, 48, 44, 40, 36, 32, 30, 28, 25, 24, 23,22,21, 20,19, 18,17, 16, 14,11, 12, 10];
$edtFontSizes: (
    40: 24px,
    32: 20px,
    24: 18px,
    20: 14px,
    16: 12px,
    14: 12px
);
$fontWeight: (
  "heavy" : 900,
  "exBold" : 800,
  "bold" : 700,
  "semibold" : 600,
  "medium" : 500,
  "regular" : 400,
  "light" : 300,
  "exLight" : 200,
  "thin" : 100,
);