@use './absctracts/mixin' as *;
@use './absctracts/pf_variables' as *;

@use "./guideComponents/table";
@use "./guideComponents/slot";

* {
  transition: all .3s;
  font-family: "Pretendard";
}

body {
  min-height: 100vh;
  background: url("../images/common/pf_bg.png") no-repeat center / cover;
}

:root{
  --white1: #fff;
  --pf_point1: #F57A24;
  --pf_txtClr1: #ddd;
  --pf_txtClr2: #aaa;
}

@mixin glass-effect-1 {
  border:1px solid rgba(255,255,255,0.4);
  background: linear-gradient(
                  156deg,
                  rgba(34, 34, 34, .4) 4.84%,
                  rgba(44, 44, 44, .4) 94.67%
  );
  box-shadow:
          0px 0px 1px 0 rgba(255, 255, 255, 0.25) inset,
          0px 4px 4px 0 rgba(0, 0, 0, 0.35);
  backdrop-filter:blur(50px);
}


h1, h2, h3, h4, h5, h6 {
  color: var(--clr-white1);
  line-height: 150%;
}

main {
  position: relative;
  .txtClr1{ color:var(--pf_txtClr1);}
  .txtClr2{ color:var(--pf_txtClr2);}
  .tit {

    p {
      color: var(--clr-point4);
      line-height: 150%;
    }

    strong {
      color: var(--clr-point4);
    }
  }
}

.pf_main{
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  width: calc(100% - 200px);
  max-width: 1260px;

  main{
    @include glass-effect-1;
    border-radius: 30px;
    margin-top: 30px;
    max-height: 835px;
    height: calc(100vh - 245px);
    overflow: hidden;
    padding-right: 6px;
    padding: 40px 6px 40px 0;

    &>section{
      height: 100%;
    }
  }

  .pf_inner{
    padding: 0 50px;
    overflow-y: scroll;
    height: 100%;

    &::-webkit-scrollbar{
      width: 4px;
    }
    &::-webkit-scrollbar-thumb{
      background-color: #5E5954;
      border-radius: 10px;
      border: 0px solid #41352C
    }
    [data-role=version]{
      padding: 2px 6px;
      border-radius: 20px;
      border: 1px solid var(--pf_point1);
      color: var(--pf_point1);
    }
  }


  .sec_tit{
    color: var(--pf_white1);
  }

  .pf_links{
    display: flex;
    gap:1.25rem;
    margin-top: 2.5rem;
    margin-bottom: 1.25rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    border-top: 1px solid rgba(255,255,255,.6);

    a{
      flex: 1;
      position: relative;
      height: 100px;
      padding: 12px 14px;
      border-radius: 10px;
      color: var(--pf_white1);
      background-color: rgba(70, 66, 62, 0.6);
      box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.35);
      border: 1px solid rgba(255,255,255,.35);
      backdrop-filter:blur(15px);
      transition: .25s ease-in-out;

      &::after{
        display: block;
        position: absolute;
        top: 50%; right: 12px;
        transform: translateY(-50%);
        width: 80px;
        height: 80px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        content: "";
        opacity: .05;
        transition: opacity .25s ease-in-out;
      }
      &:nth-child(1)::after{background-image: url("../images/icons/ico_notes.svg");}
      &:nth-child(2)::after{background-image: url("../images/icons/ico_demo.svg");}
      &:nth-child(3)::after{background-image: url("../images/icons/ico_download.svg");}
      &:nth-child(4)::after{background-image: url("../images/icons/ico_tools.svg");}

      &:hover{
        transform: translateY(-10px);
        border-color: var(--pf_point1);
        strong{
          color: var(--pf_point1);
        }
        &::after{opacity: .125}
      }
    }
    strong{
      font-size: 1.25rem;
      font-weight: 600;
      transition: color .25s ease-in-out;
    }
    p{
      margin-top: 6px;
      font-size: 14px;
      font-weight: 400;
      line-height: 150%;
      letter-spacing: 0.025em;
    }

  }
}

.pf_side{
  position: absolute;
  top: 50%;
  left: -110px;
  transform: translateY(-50%);
  height: max-content;
  width:max-content;
  padding: 20px 14px;
  border-radius: 60px;
  @include glass-effect-1;
  background-color: rgba(128, 128, 128, 0.6);
  backdrop-filter:blur(10px);

  ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  a{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50px;

    &::after{
      display:block;
      position: absolute;
      top: 50%; left: 50%;
      transform: translate(-50%,-50%) scale(0);
      content: "";
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
    &.on::after{
      transform: translate(-50%,-50%) scale(1);
      box-shadow: 0 0 10px 2px rgba(255,255,255,.25);
      background-color: var(--pf_point1);
    }
  }
  i{
    display: block;
    position: relative;
    z-index: 5;
    width: 24px;
    height: 24px;

    &.main{background: url("../images/icons/ico_main.svg") no-repeat center / cover;}
    &.demo{background: url("../images/icons/ico_demo.svg") no-repeat center / cover;}
    &.download{background: url("../images/icons/ico_download.svg") no-repeat center / cover;}
    &.notes{background: url("../images/icons/ico_notes.svg") no-repeat center / cover;}
    &.tools{background: url("../images/icons/ico_tools.svg") no-repeat center / cover;}
  }
}

.pf_hd {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 62px;
  border-radius: 62px;
  padding: 0 30px;
  @include glass-effect-1;

  .logo{
    font-size: 20px;
    font-weight: 700;
    color: var(--pf_white1);
  }

  .date, .clock{
    font-size: 14px;
    font-weight: 600;
    color: var(--pf_white1);
  }
}

.pf_box {
  width: 100%;
  height: max-content;
  padding: 14px 20px;
  background-color: rgba(70,66,62,.6);
  border-radius: 20px;
  border: 1px solid rgba(255,255,255,0.6);
}

#pf-commits{
  position: relative;

  &::before{
    display: block;
    position: absolute;
    left: 24px;
    top: 0;
    width: 2px;
    height: 100%;
    content: "";
    background-color: var(--pf_point1);
  }
  li{
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-left: 30px;
    font-size: 14px;
    font-weight: 400;
    color: var(--pf_white1);

    &:not(:first-child){
      margin-top: 10px;
    }
    &::before{
      position: absolute;
      left: -1px; top: 50%;
      transform: translateY(-50%);
      width: 10px;
      height: 10px;
      border-radius: 50%;
      content: "";
    }
    &:nth-child(1)::before{background-color: #F57A24;}
    &:nth-child(2)::before{background-color: #D16D26;}
    &:nth-child(3)::before{background-color: #AC5F29;}
    &:nth-child(4)::before{background-color: #88522B;}
    &:nth-child(5)::before{background-color: #63442E;}
  }
}


footer {
  position: relative;
  z-index: 10;
  height: 120px;
  border-top: 1px solid #ebebeb;

  .inner_large {
    display: flex;
    align-items: center;
    height: 100%;
  }
}





.wv_tab {
  width: 100%;
}



/* 예제 전체 컨테이너 */
.pf_ex {
  margin-bottom: 2rem;
  border: 1px solid var(--clr-point3);
  border-radius: 10px;
  overflow: hidden;

  /* 상단 예제 영역 */
  .pf_cont {
    padding: 1rem;
    background-color: var(--clr-point1);
  }

  /* 하단 코드 영역 */
  .pf_code {
    background-color: var(--clr-point1);
    border-top: 1px solid var(--clr-point3);

    .code_tit {
      padding: 10px 16px;
      font-weight: 700;
      color: var(--clr-white1);
      background-color: var(--clr-point2)
    }

    .highlight {
      overflow-x: auto;
      font-size: 0.875rem;
      background-color: var(--clr-point1);
      border-top: 1px solid var(--clr-point3);

      pre{
        padding: 16px;
      }
      code {
        font-size: 16px;
        font-weight: 500;
        font-family: "Noto Sans KR";
        color: var(--code-base-color); /* 기본 텍스트 색상 */

        /* 태그명 */
        .el {
          color: var(--code-el-color);
        }
        /* 속성명 */
        .at {
          color: var(--code-at-color);
        }
        /* 속성값 */
        .va {
          color: var(--code-va-color);
        }
        /* 꺾쇠/슬래시 등 구두점 */
        .p {
          color: var(--code-p-color);
        }
        /* = 등 연산자 */
        .o {
          color: var(--code-o-color);
        }
      }
    }
  }
}