@use './absctracts/mixin' as *;
@use './absctracts/pf_variables' as *;

@use "./guideComponents/table";
@use "./guideComponents/slot";

* {
  font-family: "Pretendard";
}

body {
  min-height: 100vh;
  background: url("../images/common/pf_bg.png") no-repeat center / cover;
}

:root{
  --white1: #fff;
  --pf_point1: #5576F8;
  --pf_txtClr1: #ddd;
  --pf_txtClr2: #aaa;
}

@mixin glass-effect-1 {
  border:1px solid rgba(255,255,255,0.4);
  background: linear-gradient(
                  156deg,
                  rgba(34, 34, 34, .4) 4.84%,
                  rgba(44, 44, 44, .4) 94.67%
  );
  box-shadow:
          0px 0px 1px 0 rgba(255, 255, 255, 0.25) inset,
          0px 4px 4px 0 rgba(0, 0, 0, 0.35);
  backdrop-filter:blur(50px);
}


h1, h2, h3, h4, h5, h6 {
  color: var(--clr-white1);
  line-height: 150%;
}

main {
  position: relative;
  .txtClr1{ color:var(--pf_txtClr1);}
  .txtClr2{ color:var(--pf_txtClr2);}
  .tit {

    p {
      color: var(--clr-point4);
      line-height: 150%;
    }

    strong {
      color: var(--clr-point4);
    }
  }
}


.pf_main{
  position: absolute;
  top: 50%; left: 50%;
  z-index: 15;
  transform: translate(-50%,-50%);
  width: calc(100% - 200px);
  max-width: 1260px;

  main{
    @include glass-effect-1;
    border-radius: 30px;
    margin-top: 30px;
    max-height: 835px;
    height: calc(100vh - 245px);
    overflow: hidden;
    padding-right: 6px;
    padding: 40px 6px 40px 0;

    &>section{
      height: 100%;
    }
  }

  .pf_sub_menu{
    display: flex;
    align-items: center;
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 60px;
    padding: 0 30px;
    @include glass-effect-1;

    & + section{
      padding-top: 54px;
    }

    & > a {
      font-size: 16px;
      font-weight: 600;
      color: var(--pf_white1);
    }

    ul{
      display: flex;
      align-items: center;
      position:absolute;
      top: 50%; left: 50%;
      transform: translate(-50%,-50%);
      height: 100%;
    }
    li{height: 100%;}
    ul a{
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      height: 100%;
      padding: 19.5px 14px;
      font-size: 14px;
      font-weight: 500;
      color: var(--pf_white1);
      transition: opacity .3s ease-in-out;

      &.on::after{
        display: block;
        position: absolute;
        bottom: 0; left: 0;
        width:100%;
        height: 3px;
        background-color: var(--pf_white1);
        content: "";
      }
      &:not(.on):hover{
        opacity: .4;
      }
    }
  }

  .pf_inner{
    padding: 0 50px;
    overflow-y: scroll;
    height: 100%;

    &::-webkit-scrollbar{
      width: 4px;
    }
    &::-webkit-scrollbar-thumb{
      background-color: #5E5954;
      border-radius: 10px;
      border: 0px solid #41352C
    }
    [data-role=version]{
      padding: 2px 6px;
      border-radius: 20px;
      border: 1px solid var(--pf_point1);
      color: var(--pf_point1);
    }
  }


  .sec_tit{
    color: var(--pf_white1);
  }

  .pf_links{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:1.25rem;
    margin-top: 2.5rem;
    margin-bottom: 1.25rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    border-top: 1px solid rgba(255,255,255,.6);

    a{
      position: relative;
      height: 100px;
      padding: 12px 14px;
      border-radius: 10px;
      color: var(--pf_white1);
      background-color: rgba(70, 66, 62, 0.6);
      box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.35);
      border: 1px solid rgba(255,255,255,.35);
      backdrop-filter:blur(15px);
      transition: .25s ease-in-out;

      &::after{
        display: block;
        position: absolute;
        top: 50%; right: 12px;
        transform: translateY(-50%);
        width: 80px;
        height: 80px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        content: "";
        opacity: .05;
        transition: opacity .25s ease-in-out;
      }
      &:nth-child(1)::after{background-image: url("../images/icons/ico_notes.svg");}
      &:nth-child(2)::after{background-image: url("../images/icons/ico_demo.svg");}
      &:nth-child(3)::after{background-image: url("../images/icons/ico_download.svg");}
      &:nth-child(4)::after{background-image: url("../images/icons/ico_tools.svg");}

      &:hover{
        transform: translateY(-10px);
        border-color: var(--pf_point1);
        strong{
          color: var(--pf_point1);
        }
        &::after{opacity: .125}
      }
    }
    strong{
      font-size: 1.25rem;
      font-weight: 600;
      transition: color .25s ease-in-out;
    }
    p{
      margin-top: 6px;
      font-size: 14px;
      font-weight: 400;
      line-height: 150%;
      letter-spacing: 0.025em;
    }

    &.no_ico a::after{display: none;}
  }
}

.pf_side{
  position: absolute;
  top: 50%;
  left: -110px;
  transform: translateY(-50%);
  height: max-content;
  width:max-content;
  padding: 20px 14px;
  border-radius: 60px;
  @include glass-effect-1;
  background-color: rgba(128, 128, 128, 0.6);
  backdrop-filter:blur(10px);

  ul{
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  a{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50px;

    &::after{
      display:block;
      position: absolute;
      top: 50%; left: 50%;
      transform: translate(-50%,-50%) scale(0);
      content: "";
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
    &.on::after{
      transform: translate(-50%,-50%) scale(1);
      box-shadow: 0 0 10px 2px rgba(255,255,255,.25);
      background-color: var(--pf_point1);
    }
  }
  i{
    display: block;
    position: relative;
    z-index: 5;
    width: 24px;
    height: 24px;

    &.main{background: url("../images/icons/ico_main.svg") no-repeat center / cover;}
    &.demo{background: url("../images/icons/ico_demo.svg") no-repeat center / cover;}
    &.download{background: url("../images/icons/ico_download.svg") no-repeat center / cover;}
    &.notes{background: url("../images/icons/ico_notes.svg") no-repeat center / cover;}
    &.tools{background: url("../images/icons/ico_tools.svg") no-repeat center / cover;}
  }
}

.pf_hd {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 62px;
  border-radius: 62px;
  padding: 0 30px;
  @include glass-effect-1;

  .logo{
    font-size: 20px;
    font-weight: 700;
    color: var(--pf_white1);
  }

  .date, .clock{
    font-size: 14px;
    font-weight: 600;
    color: var(--pf_white1);
  }
}

.pf_cont{
  margin-top: 40px;
  padding-top:20px;
  border-top: 1px solid rgba(255, 255, 255, 0.6)
}
.pf_box {
  width: 100%;
  height: max-content;
  padding: 14px 20px;
  background-color: rgba(70,66,62,.6);
  border-radius: 20px;
  border: 1px solid rgba(255,255,255,0.6);

  &.on{
    background-color: rgba(92, 92, 208, 0.6);
  }
  &.is-active{
    background-color: rgba(209, 106, 140, 0.6);
  }
}

.ipt_st1{
  label{
    cursor: auto;
  }
  input:not([type=range]){
    width: 150px;
    padding: 0 4px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    color: #fff;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background: linear-gradient(156deg, rgba(34, 34, 34, 0.4) 4.84%, rgba(44, 44, 44, 0.4) 94.67%);
    outline: none;
    box-shadow: 0px 0px 8px 0px rgba(255,255,255,0),
    0px 0px 10px 4px rgba(0, 0, 0, 0.1) inset;
    transition: box-shadow .4s ease-in-out;

    &.sm_ipt{
      width: 50px;
    }
    &[readonly]{
      background: linear-gradient(156deg, rgb(22, 22, 22) 4.84%, rgba(20, 20, 20, 1) 94.67%);
      color: #5d5d5d
    }
    &[type=checkbox]{
      width: 20px;
      height: 20px;
      background: rgba(22,22,22,.4);
      transition: background .4s ease-in-out;
    }
    &[type=checkbox]:checked{
      background: var(--pf_point1);
    }
    &:not([readonly],[type=checkbox]):focus{
      box-shadow: 0px 0px 8px 0px rgba(255,255,255,0.2),
      0px 0px 10px 4px rgba(0, 0, 0, 0.5) inset;
    }
  }
  textarea{
    width: 50%;
    height: 150px;
    padding: 14px 10px;
    color: #fff;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background: linear-gradient(156deg, rgba(34, 34, 34, 0.4) 4.84%, rgba(44, 44, 44, 0.4) 94.67%);
    outline: none;
    box-shadow: 0px 0px 8px 0px rgba(255,255,255,0),
    0px 0px 10px 4px rgba(0, 0, 0, 0.1) inset;
    transition: box-shadow .4s ease-in-out;

    &[readonly]{
      background: linear-gradient(156deg, rgb(22, 22, 22) 4.84%, rgba(20, 20, 20, 1) 94.67%);
      color: #5d5d5d
    }
    &:not([readonly]):focus{
      box-shadow: 0px 0px 8px 0px rgba(255,255,255,0.2),
      0px 0px 10px 4px rgba(0, 0, 0, 0.5) inset;
    }
  }
  .chk_ipt{cursor: pointer;}
  button.pf_btn{
    display:block;
    min-width: 120px;
    height: 40px;
    margin: 0 auto;
    padding: 0 10px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 16px;
    background-color: var(--pf_point1);
    color: var(--pf_white1);

    &.st2{
      background-color: var(--pf_white1);
      border: 2px solid var(--pf_point1);
      color: var(--pf_point1);
    }
  }
}

[data-pf-tool='imgtowebp']{
  .file_wrap{
    position:relative;
    width: 100%;
    height: 200px;
  }
  #fileInput{
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    border:none;
  }
  #dropZone{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items :center;
    gap: 20px;
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-weight: 500;
    color: rgba(242, 242, 242, 0.6);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background: linear-gradient(156deg, rgba(34, 34, 34, 0.4) 4.84%, rgba(44, 44, 44, 0.4) 94.67%);
    box-shadow: 0px 0px 8px 0px rgba(255,255,255,0),
    0px 0px 10px 4px rgba(0, 0, 0, 0.1) inset;
    transition: box-shadow .4s ease-in-out, color .4s ease-in-out;
  }
  #dropZone img{
    opacity: .4;
    -webkit-user-drag: none;
    transition: opacity .4s ease-in-out;
  }
  #dropZone.hover{
    box-shadow: 0px 0px 8px 0px rgba(255,255,255,0.2),
    0px 0px 10px 4px rgba(0, 0, 0, 0.5) inset;
    color: rgba(242,242,242,1);
    img{opacity: 1}
  }

  #output{
    border-top: 2px solid rgba(255, 255, 255, 0.4);
    margin-top: 20px;
    padding-top: 20px;

    .image-result{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 10px;

      &:not(:first-child){
        margin-top: 14px;
      }
      & > div{
        width: calc(100% - 140px);
      }
    }
    h2{
      font-size: 20px;
      font-weight: 600;
      color: var(--pf_white1);
    }
    h2 + div{
      min-width: max-content;
    }
    p{
      font-size: 14px;
      color: rgba(242, 242, 242, 0.6);
    }
    span{
      font-size: 14px;
      color: rgba(242,242,242,0.6);
    }
    a{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 40px;
      font-size: 16px;
      font-weight: 600;
      border-radius: 16px;
      background-color: var(--pf_point1);
      color: var(--pf_white1);
    }
  }

  .range_wrap{
    display: flex;
    align-items: center;
    gap: 10px;
    position: relative;
    span{
      width: 44px;
      font-size: 14px;
      font-weight: 500;
      line-height: 25px;
      vertical-align: middle;
      text-align: center;
      color: #fff;
      pointer-events: none;
    }
  }
  #qualityRange{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    width: 500px;
    height: 6px;
    background: linear-gradient(to right, rgba(242, 242, 242, 0.6) 0%, rgba(85, 118, 248, 0.6) 100%);
    border: none;
    border-radius: 8px;
  }
  input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    width: 44px;
    height: 25px;
    background: #5576F8;
    border-radius: 24px;
  }

  .range_wrap + label{
    font-size: 14px;
    font-weight: 500;
    color: #fff;
  }
  #downloadAllBtn{
    opacity: 0;
    visibility: hidden;

    &.show{
      opacity: 1;
      visibility: visible;
    }
  }
}

[data-pf-tool='pxtorem']{
  .calc_wrap{
    margin-top: 2.5rem;
  }
  .calc_wrap label{
    font-size: 1.25rem;
    color: var(--pf_txtClr1);
  }
  .calc_wrap input{
    width: 350px;
    height: 62px;
    padding: 0 40px;
    font-size: 36px;
    color: var(--pf_white1);
  }
  .calc_wrap .ipt_wrap{
    position: relative;
  }
  .calc_wrap p{
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--pf_txtClr2)
  }
  .calc_wrap span{
    padding-top: 34px;
    font-size: 1rem;
    font-weight: 600;
    color: var(--pf_txtClr2);
    opacity: 0.6;
  }

  label[for=baseFontIpt]{
    display: block;
    margin: 2.5rem auto 0;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    color: var(--pf_txtClr2);
  }
  label[for=baseFontIpt] input{
    width: 50px;
    margin: 0 4px
  }
}

#pf-commits{
  position: relative;

  .pf_box{position: relative;}
  .pf_box::before{
    display: block;
    position: absolute;
    left: 24px;
    top: 0;
    width: 2px;
    height: 100%;
    content: "";
    background-color: var(--pf_point1);
  }
  li{
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-left: 30px;
    font-size: 14px;
    font-weight: 400;
    color: var(--pf_white1);

    &:not(:first-child){
      margin-top: 10px;
    }
    &::before{
      position: absolute;
      left: 0; top: 50%;
      transform: translateY(-50%);
      width: 10px;
      height: 10px;
      border-radius: 50%;
      content: "";
    }
    &:nth-child(1)::before{background-color: #5576F8FF;}
    &:nth-child(2)::before{background-color: #6683f4;}
    &:nth-child(3)::before{background-color: #7792fa;}
    &:nth-child(4)::before{background-color: #8aa0f4;}
    &:nth-child(5)::before{background-color: #a7b8fb;}
  }
}

.hljs{
  background-color: transparent !important;

  &.pf_box,
  .pf_box{
  }
}
.pf_box.code_wrap{
  background: transparent;
  padding: 0;

  .example_wrap{
    padding: 1.25rem;
    border-bottom: 1px solid rgba(255,255,255,0.6);
  }
  .cont_wrap{
    padding: 0.325rem 1.25rem;
    border-bottom: 1px solid rgba(255,255,255,0.6);
    background-color: rgba(255,255,255,.05);

    p{
      font-size: 1rem;
      font-weight: 400;
      color: var(--pf_white1);
    }
    .copy_btn{
      width: 18px;
      height: 18px;
      background: url("../images/icons/ico_copy_w.svg") no-repeat center / cover;
    }
  }
}

footer {
  position: relative;
  z-index: 10;
  height: 120px;
  border-top: 1px solid #ebebeb;

  .inner_large {
    display: flex;
    align-items: center;
    height: 100%;
  }
}




.pf_container{
  margin-top: 2.5rem;
  padding-top: 5rem;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
}
.wv_tab {
  width: 100%;
}

.pf_accordion{
  width: 100%;
}
.pf_accordion li:not(:last-child){
  margin-bottom: 0.625rem;
}
.pf_accordion .wv_accordion_btn{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
  width: 100%;
  padding: 0.625rem 1.25rem;
  font-size: 1.25rem;
  font-weight: 500;
  text-align: left;
  color: var(--pf_white1);
  background-color: #67666F;
  border-radius: 10px;
  transition: background-color .25s ease-in-out
}
.pf_accordion .wv_accordion_btn:hover{
  background-color: #4e4d54;
}
.pf_accordion .wv_accordion_btn::after{
  content: "";
  width: 1.25rem;
  height: 1.25rem;
  background: url("../images/icons/ico_accordion_arrow_w.svg") no-repeat center / cover;
  transform: rotate(90deg);
  display: block;
  transition: transform .25s ease-in-out
}
.pf_accordion .active .wv_accordion_btn::after{
  transform: rotate(-90deg);
}
.pf_accordion .wv_accordion_panel{
  position: relative;
  top: -0.625rem;
  background-color: rgba(255,255,255,.1);
  color: var(--pf_white1);
  padding: 0 1.25rem;
  border-radius: 0 0 0.625rem 0.625rem;
  max-height: 0;
  overflow: hidden;
  transition: max-height .45s ease-in-out;
}
.pf_accordion .wv_accordion_panel div{
  padding: 1.875rem 0 1.25rem;
}
.pf_accordion .active .wv_accordion_panel{
  max-height: 500px;
}

#copySuccessModal{
  display:flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transform: none;
  width: 100%;
  height: 50px;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  background: linear-gradient(156deg, rgba(34, 34, 34, 0.4) 4.84%, rgba(44, 44, 44, 0.4) 94.67%);
  box-shadow: 0px 0px 1px 0 rgba(255, 255, 255, 0.25) inset, 0px 4px 4px 0 rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(50px);
  border-bottom: 1px solid rgba(255,255,255,.4);
}
.pf_btn1{
  padding: 10px 24px;
  border-radius: 10px;
  color: #fff;
  background: linear-gradient(156deg, rgba(34, 34, 34, 0.4) 4.84%, rgba(44, 44, 44, 0.4) 94.67%);
  box-shadow: 0px 0px 1px 0 rgba(255, 255, 255, 0.25) inset, 0px 4px 4px 0 rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(50px);
  border: 1px solid rgba(255,255,255,.4);

  &.active{
    background: linear-gradient(156deg, rgba(230, 230, 230, 0.4) 4.84%, rgba(222, 222, 222, 0.75) 94.67%);
  }
}
.pf_btn2{
  padding: 10px 18px;
  border-radius: 10px;
  color: #fff;
  background: rgba(128, 128, 128, 0.6);
  box-shadow: 0px 0px 1px 0 rgba(255, 255, 255, 0.25) inset, 0px 4px 4px 0 rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(50px);
  border: 1px solid rgba(255,255,255,.4);

  &.active{
    background: linear-gradient(156deg, rgba(230, 230, 230, 0.4) 4.84%, rgba(222, 222, 222, 0.75) 94.67%);
  }
}
#copyTarget{
  font-size: 16px;
  color: #fff;
  margin-bottom: 10px;
}

.pf_chk{
  display: flex;
  align-items: center;
  gap: 4px;
  width: max-content;
  font-size: 14px;
font-weight: 500;
  color: #fff;
  &::before{
    content: "";
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 1px solid rgba(255,255,255,.4);
    transition: background .2s ease-in-out;
  }
}
input:checked + .pf_chk::before{
  background: #fff;
}
.hide_today_chk{
  position: absolute;
  width: 0;
  visibility: hidden;
}

.pf_table{
  border-collapse: collapse;
  border-top: 1px solid rgba(255,255,255,.4);

  thead{
    text-align: left;
    background: linear-gradient(156deg, rgba(34, 34, 34, 0.4) 4.84%, rgba(44, 44, 44, 0.4) 94.67%);
    backdrop-filter: blur(50px);
    border-bottom: 1px solid rgba(255,255,255,.4);

    th{
      padding: 14px 20px;
      font-size: 16px;
      font-weight: 600;
      color: #fff;
    }
  }
  tbody{
    text-align: left;

    tr{
      border-bottom: 1px solid rgba(255,255,255,.4);
    }
    td{
      padding: 14px 20px;
      font-size: 16px;
      font-weight: 400;
      color: #fff;
    }
  }
}


.pf_modal_box{
  background: rgb(111 116 141 / 56%);
  box-shadow: 0 0 1px 0 rgba(255, 255, 255, 0.25) inset, 0 4px 4px 0 rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(200px);
  border: 1px solid rgba(255, 255, 255, 0.4);
  z-index: 1000;
  padding: 40px;
  border-radius: 20px;
  color: #fff;
  text-align: center;
}
.dim{
  position: fixed;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  opacity: 0;
  visibility: hidden;
  transition: opacity .25s ease-in-out, visibility .25s ease-in-out;
}
.dim.active{opacity: 1; visibility: visible;}

.pf_tab{
  .wv_tab_panel{display: none;}
  .wv_tab_panel.active{display: block;}
}