@use './absctracts/mixin' as *;
@use './absctracts/pf_variables' as *;

html[color-theme='light'] {
  --clr-point1: var(--l_point1);
  --clr-point2: var(--l_point2);
  --clr-point3: var(--l_point3);
  --clr-btnClr1: var(--l_btnClr1);
  --clr-btnActClr1: var(--l_btnActClr1);
  --clr-txtClr: var(--l_txtClr);
  --clr-subClr: var(--l_subClr);

  --clr-slotBar: #1a1a1a;
}

html[color-theme='dark'] {
  --clr-point1: var(--d_point1);
  --clr-point2: var(--d_point2);
  --clr-point3: var(--d_point3);
  --clr-btnClr1: var(--d_btnClr1);
  --clr-btnActClr1: var(--d_btnActClr1);
  --clr-txtClr: var(--d_txtClr1);
  --clr-txtClr2: var(--d_txtClr2);
  --clr-subClr: var(--d_subClr);

    --clr-slotBar: #f3f3f3;
}

body {
  background-color: var(--clr-point1);
}


.pf_inner {
  display: flex;
  align-items: center;
  width: calc(100% - 40px);
  max-width: 1600px;
  height: 100%;
  margin: 0 auto;
}

.pf_hd {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100px;
  backdrop-filter: blur(5px);
  background: rgba(246, 246, 246, 0.05);

  .logo {
    width: 82px;
  }

  nav {
    margin-left: auto;

    ul {
      display: flex;
      align-items: center;
      gap: 20px;
    }
  }
}

footer {
  height: 120px;
  border-top: 1px solid #ebebeb;

  .inner_large {
    display: flex;
    align-items: center;
    height: 100%;
  }
}


#slotBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  left: 50%;
  bottom: -40px;
  transform: translateX(-50%);
  z-index: 2000000010;
  height: 60px;
  transition: bottom 0.35s cubic-bezier(0.485, -0.050, 0.285, 1.505);

  &:hover {
    bottom: 0;
  }

  .slotBar_slot {
    height: 40px;
    overflow: hidden;
    pointer-events: auto;
    background: var(--clr-slotBar);
    border: 1px solid #343841;
    border-radius: 10000px;
    box-shadow: 0 0 0 0 rgba(19, 21, 26, 0.30), 0 1px 2px 0 rgba(19, 21, 26, 0.29), 0 4px 4px 0 rgba(19, 21, 26, 0.26), 0 10px 6px 0 rgba(19, 21, 26, 0.15), 0 17px 7px 0 rgba(19, 21, 26, 0.04), 0 26px 7px 0 rgba(19, 21, 26, 0.01);
  }

  .toggle_btn {
    width: 40px;
    height: 100%;

    input {
      display: none;
    }

    label {
      display: block;
      width: 100%;
      height: 100%;
      cursor: pointer;

      &:after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background: url(../images/icons/ico_light.svg) no-repeat center center / 20px;
      }
    }
  }
}
html[color-theme='dark'] #slotBar .toggle_btn label:after {
  background: url(../images/icons/ico_dark.svg) no-repeat center center / 20px;
}


main {
  display: flex;
  min-height: 100vh;
  padding-top: rem(72px);
}
