---
/* layout 파일에서 부모로부터 전달된 콘텐츠를 <slot />으로 렌더링합니다. */
import Header from '../partials/Header.astro';
import Footer from '../partials/Footer.astro';

import '../styles/wv.scss';

const {pageTitle, navigation} = Astro.props;
---

<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8"/>
  <title>{pageTitle || "FP 프로젝트" }</title>
    </head>
    <body>


    <Header navigation={navigation}/>
    <main>
      <slot/>
    </main>
    <Footer/>

    <script type="module" src="/js/main.js"></script>
    </body>
      </html>
