---
/* layout 파일에서 부모로부터 전달된 콘텐츠를 <slot />으로 렌더링합니다. */
import Header from '../partials/Header.astro';
import Footer from '../partials/Footer.astro';
import SlotBar from '../partials/Slot.astro';

import '../styles/wv.scss';

const {pageTitle, navigation} = Astro.props;
---

<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8"/>
  <title>{pageTitle || "FP 프로젝트" }</title>
    </head>
    <body>

    <div class="dp_f">
      <Header navigation={navigation}/>
      <main>

      <SlotBar/>
      </main>
    </div>
    <Footer/>

    <script type="module" client:load src="/js/custom/pf.js"></script>
    <script type="module" client:load src="/js/main.js"></script>
    </body>
      </html>
