---
pageTitle: "FP 프로젝트 - Accordion"
pageDir: [Components, Accordion]
permalink: /components/Accordion.html
---
{% include "head.njk" %}
<body>
<div class="dp_f">
    {% include "header.njk" %}

    <main>
        <div class="pf_inner">
            <div class="tit">
                <h2 class="fs_48">Components - Accordion</h2>
                <p class="fs_18 mt_20">
                    asdasdasdasd
                </p>
            </div>

            <div class="tit mt_80">
                <h3 class="fs_40">사용 방법</h3>

                <div class="">
                    <ul class="wv_accordion" data-type="multi">
                        <li>
                            <button type="button" class="wv_accordion_btn">test1</button>
                            <div class="wv_accordion_panel">
                                asldjkalsndklasnd
                            </div>
                        </li>
                        <li>
                            <button type="button" class="wv_accordion_btn">test1</button>
                            <div class="wv_accordion_panel">
                                asldjkalsndklasnd
                            </div>
                        </li>
                        <li>
                            <button type="button" class="wv_accordion_btn">test1</button>
                            <div class="wv_accordion_panel">
                                asldjkalsndklasnd
                            </div>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
    </main>
</div>
</body>