---
pageTitle: "FP 프로젝트 - Modal"
pageDir: [Components, Modal]
permalink: /components/Modal.html
---
{% include "head.njk" %}
<body>
<div class="dp_f">
    {% include "header.njk" %}

    <main>
        <div class="pf_inner">
            <div class="tit">
                <h2 class="fs_48">Components - Modal</h2>
                <p class="fs_18 mt_20">
                    asdasdasdasd
                </p>
            </div>

            <div class="tit mt_80">
                <h3 class="fs_40">사용 방법</h3>

                <div class=" fc_white1">
                    <button class="wv_modal_btn" data-modal="testModal">열기</button>
                </div>

            </div>

        </div>
    </main>
    {% include "slot.njk" %}

    <div class="dim"></div>
    <dialog class="wv_modal" id="testModal">
        <p>asjkldnjlasnd</p>

        <button class="wv_modal_btn close_modal">닫기</button>
    </dialog>
</div>
</body>