---
pageTitle: "FP 프로젝트 - Select"
pageDir: [Components, Select]
permalink: /compoSelect.html
---
{% include "head.njk" %}
<body>
<div class="dp_f">
    {% include "header.njk" %}

    <main>
        <div class="pf_inner">
            <div class="tit">
                <h2 class="fs_48">Components - Select</h2>
                <p class="fs_18 mt_20">
                    asdasdasdasd
                </p>
            </div>

            <div class="tit mt_80">
                <h3 class="fs_40">사용 방법</h3>

                <div class=" fc_white1">
                    <div class="wv_tab">
                        <div class="wv_tab_menu">
                            <button type="button" class="wv_tab_btn active">Tab 1</button>
                            <button type="button" class="wv_tab_btn">Tab 2</button>
                            <button type="button" class="wv_tab_btn">Tab 3</button>
                        </div>
                        <div class="wv_tab_content">
                            <div class="wv_tab_panel">Content for Tab 1</div>
                            <div class="wv_tab_panel">Content for Tab 2</div>
                            <div class="wv_tab_panel">Content for Tab 3</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    {% include "slot.njk" %}
</div>
</body>