---
pageTitle: "FP 프로젝트 - Tab"
pageDir: [Components, Tab]
permalink: /components/Tab.html
---
{% include "head.njk" %}
<body>
<div class="dp_f">
    {% include "header.njk" %}

    <main>
        <div class="pf_inner">
            <div class="tit">
                <h2 class="fs_48">Components - Tab</h2>
                <p class="fs_18 mt_20">
                    asdasdasdasd
                </p>
            </div>

            <div class="tit mt_80">
                <h3 class="fs_40">사용 방법</h3>

                <div class=" fc_white1">
                    <div class="wv_tab">
                        <ul>
                            <li>
                                <button class="wv_tab_btn">Tab1</button>
                                <p>asdlnasd</p>
                            </li>
                            <li>
                                <button class="wv_tab_btn">Tab2</button>
                                <p>asdlnasd</p>
                            </li>
                            <li>
                                <button class="wv_tab_btn">Tab3</button>
                                <p>asdlnasd</p>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>
    </main>
</div>
</body>