---
pageTitle: "FP 프로젝트 - Target Button"
pageDir: [Components, Target Button]
permalink: /components/TargetButton.html
---
{% include "head.njk" %}
<body>
<div class="dp_f">
    {% include "header.njk" %}
    <main>
        <div class="pf_inner">
            <h2 class="fs_48">Target Button</h2>
            <p class="fs_18">Target Button은 사용자가 ...</p>
        </div>
    </main>
</div>
</body>